<div class="item-cardapio col-md-6">
  <div class="row">
    <div class="col-sm-5">
      <div class="item-cardapio-foto">
        <div>{{codigo}}</div>
        <img class="img-responsive" width="250" height="150" src="images/cardapio/{{codigo_categoria}}/{{codigo}}.jpg"
          alt="Item">
      </div>
      <div class="item-cardapio-preco">{{preco_porcao_pequena}}<span> {{nome_porcao_pequena}}</span>
        {{preco_porcao_grande}}
        <span>{{nome_porcao_grande}}</span>
      </div>
    </div>
    <div class="item-cardapio-descricao col-sm-7">
      <h3 class="item-cardapio-titulo">{{nome}}</h3>
      <p class="item-cardapio-detalhes">{{descricao}}</p>
    </div>
  </div>
  <hr class="visible-xs">
</div>