body {
  font-size: 16px;
  color: #fff;
  background-color: #6E1A10;
  font-family: 'Montserrat', sans-serif;
}

.loader {
  width: 150px;
  height: 150px;
}

#header-nav {
  background-color: #ECB600;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Montserrat', sans-serif;
  color: #496936;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p span {
  /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #6E1A10;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#telefone {
  margin-top: 5px;
}

#telefone a {
  /* Phone number */
  text-align: right;
  padding-bottom: 0;
}

#telefone div {
  /* We Deliver */
  color: #496936;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #6E1A10;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #282F30;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#horarios,
#endereco {
  line-height: 2;
}

#horarios>span,
#endereco>span {
  font-size: 1.3em;
}

#endereco p {
  color: #8aca64;
  font-size: .8em;
  line-height: 1.8;
}

#depoimentos {
  font-style: italic;
}

#depoimentos p:nth-child(2) {
  margin-top: 25px;
}

/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#cardapio,
#recomendacoes,
#mapa {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#cardapio:hover,
#recomendacoes:hover,
#mapa:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#cardapio {
  background: url('../images/cardapio.jpg') no-repeat;
  background-position: center;
}

#recomendacoes {
  background: url('../images/recomendacoes.jpg') no-repeat;
  background-position: center;
}

#cardapio span,
#recomendacoes span,
#mapa span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.categoria {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  max-width: 250px;
}

.categoria span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.categoria:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#categorias-cardapio-titulo+div {
  margin-bottom: 50px;
}

/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.item-cardapio {
  margin-bottom: 25px;
}

.item-cardapio hr {
  width: 80%;
}

.item-cardapio .item-cardapio-preco {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}

.item-cardapio .item-cardapio-preco span {
  font-size: .6em;
}

.item-cardapio-foto {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}

.item-cardapio-foto div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #29421b;
  text-align: center;
}

.item-cardapio-descricao {
  padding-right: 30px;
}

h3.item-cardapio {
  margin: 0 0 10px;
}

.item-cardapio-detalhes {
  font-size: .9em;
  font-style: italic;
}

/* END SINGLE CATEGORY PAGE */


/********** Dispositivos com telas grandes **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 586px;
  }
}

/********** Dispositivos com telas intermediarias **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 485px;
  }
}

/********** Dispositivos com telas pequenas **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 375px;
  }
}

/********** somente dispositivos muito pequenos **********/
@media (max-width: 767px) {

  /* header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw;
    /* 1vw = 1% of viewport width */
  }

  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #btn-ligar>a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #ECB600;
    color: #6E1A10;
  }

  #xs-delivery {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  /* fim header */

  /* rodapé */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
  }

  .panel-footer section hr {
    width: 50%;
  }

  /* fim rodapé */

  /* pagina inicial */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #cardapio,
  #recomendacoes {
    width: 360px;
    margin: 0 auto 15px;
  }

  .item-cardapio-foto {
    margin-right: auto;
  }

  .item-cardapio .item-cardapio-preco {
    text-align: center;
  }

  .item-cardapio-descricao {
    text-align: center;
    ;
  }
}


/* Dispositivos com telas muito pequenas */
@media (max-width: 479px) {

  /* header */
  .navbar-brand h1 {
    /* nome do restaurante */
    padding-top: 5px;
    font-size: 6vw;
  }

  /* página inicial */
  #cardapio,
  #recomendacoes {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}